openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW NEWS4U Web API'
  description: 'Web Resources Specification (A7) for NEWS4U'

servers:
- url: http://lbaw2382.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2324/lbaw2382/-/wikis/EAP

tags:
  - name: 'M01: Authentication and Individual Profile'
  - name: 'M02: Posts'
  - name: 'M03: Socials'
  - name: 'M04: User Administration and Static pages'

paths:
  /Socials:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
        description: ID of the user profile to retrieve
    get:
      tags:
        - 'M03: Socials'
      summary: Get user profile by ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: integer
                    description: ID of the user
                  username:
                    type: string
                    description: Username of the user
                  email:
                    type: string
                    format: email
                    description: Email address of the user
                  reputation:
                    type: integer
                    description: Reputation of the user
                  date:
                    type: string
                    format: date
                    description: Date of the user registration
        '404':
          description: User profile not found
        '500':
          description: Internal server error
