openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW NEWS4U Web API'
  description: 'Web Resources Specification (A7) for NEWS4U'

servers:
- url: http://lbaw2382.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2324/lbaw2382/-/wikis/EAP

tags:
  - name: 'M01: Authentication and Individual Profile'
  - name: 'M02: Posts'
  - name: 'M03: Socials'
  - name: 'M04: User Administration and Static pages'

paths:
  /socials/followers/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
        description: ID of the user whose followers you want to check
    get:
      summary: Get followers of a user by ID
      tags:
       - 'M03: Socials'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    userId:
                      type: integer
                      description: ID of the follower
                    username:
                      type: string
                      description: Username of the follower
        '404':
          description: User not found
        '500':
          description: Internal server error


  /socials/following/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
        description: ID of the user whose followed people you want to retrieve
    get:
      tags:
       - 'M03: Socials'
      summary: Get people followed by a user by ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    userId:
                      type: integer
                      description: ID of the person followed
                    username:
                      type: string
                      description: Username of the person followed
        '404':
          description: User not found
        '500':
          description: Internal server error