header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    flex: 1;
}

header a.button, header span {
    margin-left: 10px;
    background-color: aqua;
}
